#main {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 55% 40%;
  grid-row-gap: 25px;
  grid-column-gap: 5%;
  width: 100%;
}
.navbar {
  grid-column: 1 / 3;
  width: 100%;
}
.video-section {

}
.sidebar {
  background-color: red;
}
.search-form {
  width: 40%;
  margin: 0 auto;
}
#search {
  width: 100%;
  border-radius: 0;
  padding: 8px;
}
