#main {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 55% 40%;
  grid-gap: 25px 5%;
  width: 100%;
}
.navbar {
  grid-column: 1 / 3;
  width: 100%;
}

.img-container:hover {
  cursor: pointer;
}
.search-form {
  width: 40%;
  margin: 0 auto;
}
#search {
  width: 100%;
  border-radius: 0;
  padding: 8px 0;
}
.img-container{
  display: grid;
  grid-template-columns: 45% 50%;
  grid-column-gap: 2%;
  width: 100%;
}
.image{
  width: 100%;
}

div p{
  opacity: 0.5;
}

.no-margin {
  margin: 0;
}
